#checkPage {
    background-color: #4768C2; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 25%;
    margin-bottom: 20px;
    width: 50%;
}

h1 {
	font-family: Helvetica, sans-serif;
	text-align: center;
}

body {
	width: 300px;
	background-color: #5DA8F7;
}

#message {
	margin-left: 27%;
}
